html {
  scroll-behavior: smooth;
}
body {
  line-height: 6vh;
  word-spacing: 0.25vw;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.801)),
    url("../img/header-background.jpg");
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  box-shadow: 0px 5px #ff220c;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  word-spacing: 5px;
  letter-spacing: 0.3vw;
}
header img {
  width: 10%;
}
.logo {
  width: 100px;
}
header h1 {
  font-size: 2.2rem;
  height: fit-content;
}
header h1,
.intro-text-area p.text-highlight {
  font-weight: 800;
  letter-spacing: 0.5vw;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.navbar-nav .nav-link,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link.active {
  color: #ffffff;
}
.dropdown-menu a {
  color: #ffffff;
  text-align: center;
  border: none;
}
.dropdown-menu a.active,
.dropdown-menu a:hover {
  color: #730a00;
  background-color: #ffffff;
  font-weight: 700;
}
.navbar-toggler {
  border: none;
  background-color: #ffffff;
}
main section.container:first-child {
  font-size: 1.3rem;
}
main section.container:last-child {
  font-size: 1.2rem;
}
.call-to-action {
  color: #f8ff77;
  font-size: 1.5rem;
  display: none;
}
.intro-image {
  width: 100%;
}
.intro-text-area {
  background-color: #424242;
  color: #ffffff;
  border-radius: 50px;
}
article.intro-text-area:first-child {
  box-shadow: -6px -6px #ff220c;
}
article.intro-text-area:last-child {
  box-shadow: 6px 6px #ff220c;
}
.intro-text-area .text-highlight {
  background-color: #f8ff77;
  color: #730a00;
  padding: 20px;
  font-size: 1.5rem;
}
.text-highlight img {
  display: inline-block;
  width: 10%;
}
.intro-text-area h2,
.intro-text-area p,
main article.card {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  border-radius: 50px;
  color: #ffffff;
  background-color: #424242;
}
main section.container:last-child section.row article.card {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 30px;
}
main section.container:last-child section.row article.card .card-img-top {
  border-radius: 50px;
  width: 90%;
  max-width: 450px;
}
article.card h2.card-title {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 600;
}
.card-link {
  color: #f8ff77;
  margin-right: 6px;
  margin-left: 6px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.3rem;
  text-transform: capitalize;
  display: flex;
  flex-wrap: nowrap;
  word-spacing: 3px;
}
.card-link:hover {
  color: #ff220c;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
  display: none;
  background-color: #730a00;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  outline: none;
  opacity: 0.7;
}
.back-to-top:hover {
  opacity: 1;
}
footer {
  background-color: black;
  color: #ffffff;
}
footer a,
footer a:visited {
  color: #f8ff77;
  text-align: center;
}
footer a:hover {
  color: #ff220c;
}

@media (max-width: 800px) {
  main
    section.container:first-child
    section.row:first-child
    p.text-center:last-child
    a {
    display: contents;
    text-decoration: underline;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
  }
  .intro-text-area .text-highlight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }
  .text-highlight img {
    width: 20%;
    float: left;
  }
}
