html {
  scroll-behavior: smooth;
}
body {
  line-height: 6vh;
  word-spacing: 0.25vw;
  color: #ffffff;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.932), rgba(0, 0, 0, 0.801)),
    url("../img/header-background.jpg");
  background-size: cover;
  background-position: center center;

  box-shadow: 0px 5px #ff220c;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  word-spacing: 5px;
  letter-spacing: 0.3vw;
}
header img {
  width: 10%;
}
.logo {
  width: 100px;
}
header h1 {
  font-size: 2.2rem;
  height: fit-content;
}
header h1,
.home-intro-area .text-highlight {
  font-weight: 800;
  letter-spacing: 0.5vw;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
.navbar-nav .nav-link,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #ffffff;
}
.dropdown-menu a {
  color: #ffffff;
  text-align: center;
  border: none;
}
.dropdown-menu a.active,
.dropdown-menu a:hover {
  color: #730a00;
  background-color: #ffffff;
  font-weight: 600;
}
.navbar-toggler {
  border: none;
  background-color: #ffffff;
}
.heading-bg {
  background-color: #f8ff77;
  color: #730a00;
}
.intro-area {
  background-color: #424242;
  border-radius: 20px;
  font-size: 1.2rem;
  font-family: Georgia, Times, "Times New Roman", serif;
}
main section.container:first-child {
  font-size: 1.1rem;
  padding: 6vw;
}
main section.container:last-child {
  font-size: 1rem;
  padding: 6.5vw;
}
p:last-child a.call-to-action {
  color: #f8ff77;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
.intro-image {
  width: 100%;
}
.home-intro-area {
  background-color: #424242;
  color: #ffffff;
  border-radius: 30px;
}
article.home-intro-area:first-child {
  box-shadow: -4px -4px #ff220c;
}
article.home-intro-area:last-child {
  box-shadow: 4px 4px #ff220c;
}
.home-intro-area .text-highlight {
  background-color: #f8ff77;
  color: #730a00;
  padding: 20px;
  font-size: 1.5rem;
  margin: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
}
.text-highlight img {
  display: inline-block;
  width: 6vw;
  min-width: 80px;
}
.home-intro-area h2,
.home-intro-area p,
.body-content {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
  border-radius: 30px;
  color: #ffffff;
  background-color: #424242;
}
.body-content {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding: 30px;
}
.body-content .card-img-top {
  border-radius: 30px;
  width: 90%;
  max-width: 450px;
}
.body-content h2.card-title {
  font-family: Verdana, Tahoma, sans-serif;
  font-weight: 600;
  word-break: normal;
}
.body-content-link,
.call-to-action {
  color: #f8ff77;
  margin: 15px;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 1.3rem;
  text-transform: capitalize;
  display: block;
  word-spacing: 4px;
}
.body-content-link:hover {
  color: #ff220c;
}
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
  display: none;
  background-color: #730a00;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  outline: none;
  opacity: 0.7;
}
.back-to-top:hover {
  opacity: 1;
}
footer {
  background-color: black;
  color: #ffffff;
}
footer a,
footer a:visited {
  color: #f8ff77;
  text-align: center;
}
footer a:hover {
  color: #ff220c;
}
@media screen and (max-width: 768px) {
  main .body-content,
  .home-intro-area p {
    text-align: center;
    border-radius: 30px;
    font-size: 1rem;
  }
  .home-intro-area .text-highlight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-evenly;
    font-size: 1.4rem;
  }
  .text-highlight img {
    width: 10vw;
    min-width: 80px;
    margin-bottom: 20px;
  }
}
