header {
  border-bottom: none;
}

main {
  padding: 10px;
}
.body-content h3,
.body-content h4 {
  font-size: 1.4rem;
}
a.syllabus-view {
  text-decoration: none;
}
h4 {
  line-height: 6vh;
}
button.syllabus-view {
  background-color: #ffa500;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  padding: 20px 30px;
  border: none;
  border-radius: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
}
button.syllabus-view:hover {
  transform: scale(1.05);
}
