.heading-bg {
  background-color: #ffa500;
  color: white;
}
.unit-intro-area {
  background-color: #696969;
  color: #00ffff;
  border-radius: 20px;
  font-size: 1.3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
section.card.unit-intro-area p.card-body {
  background-color: #7c7c7c;
  border-radius: 20px;
}
main section.card {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  border-radius: 20px;
  color: #00ffff;
  background-color: #696969;
}
.units {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px;
  background-color: white;
  color: #ffa500;
  padding: 5px;
  border-radius: 5px;
}
section.card h4.card-title,
section.card h3.card-title {
  font-weight: 900;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
  font-size: 1.3rem;
}
article.card-footer div.units {
  display: block;
  width: 40%;
  font-size: 1.6rem;
  margin: auto;
}
article.card-footer p {
  margin-top: 20px;
  font-size: 1.15rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Verdana, sans-serif;
}
